
.custom-modal{

.scroll-wrapper{

}
.close-btn{
	    position: absolute;
    right: .3em;
    top: .1em;
    background: none;
    border: none;
    box-shadow: none;
    transition:0.3s ease-in-out;
    z-index:3;
    color:#fff;
    cursor:pointer;
&:hover{
	transform:scale(1.1,1.1);

}
}
	&-img-wrapper{
		border-bottom:1px solid #dedede;
		width:100%;
		height:500px;
		

		}

.mobile-images{
	height:250px;

	.custom-mobile-infoblock{
	position: absolute;
    z-index: 99999;
    color: white;
    top: 0;
    left:1em;
    font-size: 130%;

    small{
    position:relative;
    margin-left:1em;
    font-size:55%;
    }
	}
}
	&-img-mobile-wrapper{
	width:100%;
	height:100%;
	display:none;

	&.main-image{
	display:block !important;
	position:relative;
	z-index:99;
	    width: 75%;
    height: 75%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
     border-radius:10px;
    box-shadow:0px 0px 12px 2px rgba(255,255,255,0.5);
    .custom-modal-img{
    border-radius:10px;
    }
	}
	&.background-image{
	display:block;
	position:relative;
	top:-75%;
	left:0;

	&:after{
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	left: 0;
	top:0;
    z-index: 1;
	}
	}
	}
	&-img{
		width:100%;
		height:100%;
		background-position:50% 50%;
		background-size:cover;
	}
&-body{
	padding:2em 3em;
	overflow-y:scroll;
	max-height:400px;
}
&-title{
	font-family:superstar;
	
}
&-description{
	font-family: 'Quicksand', sans-serif;
}

&-footer{
	padding:10px;
	background:#ede2de;
	width:100%;

	.custom-links{
   		 margin-right: 2em;
	}
}
	.technologies{

	&-single{
	height:2.6em;
	width:auto;
	margin:0.3em 0.2em 0.2em 0;
	}
	}
}

@media(max-width: 768px){

.custom-modal{

&-body{
	padding:2em 3em;
}

}
}