@import 'theme';
@import 'variables';
@import 'mixins';

.contact-form{

	padding:30px;
	text-align:center;
	box-shadow: $mild-dark-shadow;
	border: none;

	&-header{
    	font-weight:700;
    	font-size:170%;
        padding-bottom: 14px;
        position:relative;

        &:after{
        	content:'';
        	height:5px;
        	width:3rem;
        	bottom:0;
        	@include align-center(horizontal,absolute);
        	background:get_theme_color(primary);
        }
	}

	
}
.mat-icon{
	vertical-align:middle;
	font-weight: 900;
    font-size: 1em;
    line-height: 1.3em;
	}