@import 'mixins';

.skill-card{
	box-shadow: 0px 2px 8px 1px rgba(0,0,0,.5);
	&-image{
		width: auto;
		height: 100px;
		top: -50px;
		@include align-center(horizontal,absolute);
	}
	&-list{
	&-item{
		&-desc{
			font-weight:500;
		}
		&-icon{
			font-size:30px;
			color:#00bfa5;
			right: 30px;
			position: absolute;
		}
	}
	
	}
}

@include mq-tablet-only{
	.skill-card{
		&-list{
			&-item{
				&-icon{
				right:15px;
				}
			}
		}
	}
}