
<div class="row project no-gutters container-fluid">
	<div class="col-sm-12 col-md-7 col-lg-5 {{isOdd ? 'order-md-1' : 'order-md-2'}}">
		<div class="custom-img-wrapper">
		<div class="custom-card-img-top" [style.background-image]="image"></div>
		</div>
	</div>

<div class="col-sm-12 col-md-5 col-lg-7 {{isOdd ? 'order-md-2 pl-md-3' : 'order-md-1 pr-md-3'}} project-body">
	<div class="d-flex flex-column">
	<div class="d-flex justify-content-start align-items-center">
		<div class="text-left custom-card-title text-nowrap">{{project.title}}
		</div>
			<div matTooltip="Click for more information"  matTooltipPosition="below" (click)="openModal()">
			
				 <i class="fas fa-info-circle project-more ml-2"></i>
			
		</div>
	</div>
	<div class="custom-card-technologies mb-1">
		<span *ngFor="let technology of project.technologies" class="badge badge-pill pw-badge mr-1 text-capitalize">#{{technology}}</span>
    </div>
    <p class="custom-card-text text-muted">{{project.shortDescription}}</p>
    <div class="custom-card-actions mt-1 {{isOdd ? 'text-left' : 'text-right'}}">
		<button *ngIf="project.demoLink" class="pw-btn pw-btn-primary btn-rounded text-uppercase mr-1 px-3 py-2"><a href="{{project.demoLink}}" target="_blank">See Demo</a></button>
		<button *ngIf="project.codeLink" class="pw-btn pw-btn-secondary btn-rounded text-uppercase px-3 py-2"><a href="{{project.codeLink}}" target="_blank">Code</a></button>
	</div>

	

</div>

</div>

</div>



