@import 'mixins';

.product-types{
	padding:2rem 4rem;
	background-color:#dedede;
	&-header{
		text-align:center;
		white-space:nowrap;
		span{
			font-weight:700;
			letter-spacing:1px;
			font-size:1.8rem;
		    padding: 4px 10px;
		}
	}
	&-list{
		&-item{
			text-align:center;
			padding:10px;
			.card-title{
				margin:1rem 0;
				font-size:1.5rem;
				font-weight:700;
			}
			.card-body{
				padding:0.25rem !important;
			}

			.custom-card-text{
				line-height:1.2;
				padding:0 2rem;
			}
			.icon-wrapper{
				@include prefix((border-radius:50%));
			    background-color: #5262bc;
			    display: inline-flex;
			    color: #fff;	  
			    vertical-align: middle;
			    width: 7rem;
			    height: 7rem;
			    text-align: center;	    
		        &-inner{
				   @include full-of-parent;
				   position:relative;
		        }
			}

		    i{
			    font-size:4rem !important;
				@include align-center(vertical);
		    }
		}
	}
}

@include mq-mobile-only{
	.product-types{
			padding:2rem 0;
	.card-title{
			margin-top:1em;
		}
	}
}