@import 'mixins';
@import 'theme';

.product-types{
	padding:2rem 4rem;
	background: get_theme_color(secondary);
	@include prefix((background: linear-gradient(60deg, get_theme_color(primary),get_theme_color(secondary))));  
	color:#fff;
	&-header{
		text-align:center;
		white-space:nowrap;
		span{
			font-weight:700;
			letter-spacing:1px;
			font-size:1.8rem;
		    border-bottom: 2px solid;
		}
	}
	&-list{
		&-item{
			text-align:center;
			padding:10px;
			.card-title{
				margin:1rem 0;
				font-size:1.5rem;
				font-weight:700;
			}
			.card-body{
				padding:0.25rem !important;
			}

			.custom-card-text{

			}
			.icon-wrapper{
				@include prefix((border-radius:50%));
			    background-color: #5262bc;
			    display: inline-flex;
			    color: #fff;
			    border:3px solid #fff;	  
			    vertical-align: middle;
			    width: 7rem;
			    height: 7rem;
			    text-align: center;	    
		        &-inner{
				   @include full-of-parent;
				   position:relative;
		        }
			}

		    i{
			    font-size:4rem !important;
				@include align-center(vertical);
		    }
		}
	}
}

@include mq-mobile-only{
	.product-types{
			padding:2rem 0;
	.card-title{
			margin-top:1em;
		}
	}
}