@import 'mixins';
@import 'theme';


.profile{	
	&-avatar{
		margin:0 auto;
		border:2px solid get_theme_color(divider);
		@include bg-image-cover(18rem,18rem);
		@include prefix((border-radius:50%));
		position:relative;
	}
	
	.main-wrapper{
		position:relative;
		min-width:100%;
		width:100%;
		height:100vh;
		z-index:1;
			&:after{
				content:'';
				position:absolute;
				@include full-of-parent;
				top:0;
				bottom:0;
				left:0;
				right:0;
				background: get_theme_color(secondary);
				@include prefix((background: linear-gradient(60deg, get_theme_color(primary),get_theme_color(secondary))));  
				z-index:0;
			}
			&--container{
				position:relative;
				@include full-of-parent;
				z-index:3;
			}
			.wrapper-inner{
				   @include align-center;
				   z-index:5;
			}
	}
	&-img{
		position:absolute;
	}
	&-about{
		position:relative;
		z-index:3;
		padding: 0 .5rem .5rem 2.5rem;	
		font-size:1.3rem;
	}
	&-resume{
		position:relative;
		z-index:3;
		padding: 0 5px 5px 5px;	
	}

	&-short-desc{
		color: get_theme_color(textContrast);
	    text-align: left;
	    @include align-center(vertical);
	    font-size: 2rem;
	    ul{
 		   	list-style:none;
   		 }
	}
	.buttons-mobile{
		position:relative;
		z-index:2;
		margin-top:2rem;
		padding:0 2rem;
			a{
				display:block;
				width:100%;
				margin:1em 0;
				padding:1em;

				&:hover{
					text-decoration:none;
				}
			}
	}
}

@include mq-mobile-only{
	.profile-avatar{

	}
}

@include mq-tablet-only{
.profile{
	
	&-img{
	width:100%;
	}

	&-about{
	padding: 50px 5px;
	}

	&-resume{	
	
	padding: 50px 5px;
	height:100%;
	}
}




}