@import 'mixins';

.profile{	
	&-avatar{
		margin:0 auto;
		border:2px solid #dedede;
		@include bg-image-cover(18rem,18rem);
		@include prefix((border-radius:50%));
		position:relative;
	}
	
	.main-wrapper{
		position:relative;
		min-width:100%;
		width:100%;
		height:100vh;
			&:after{
			content:'';
			position:absolute;
			@include full-of-parent;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background: #0F2027;
			background: -webkit-linear-gradient(to right, #33444d, #000000, #0f1c22);  /* Chrome 10-25, Safari 5.1-6 */
		    background: linear-gradient(to right, #33444d, #000000, #0f1c22);	
		    z-index:-1;
			}

	.wrapper-inner{
		   @include align-center;
	}
	}
	&-img{
		position:absolute;
		border-bottom: 4px solid #00bfa5;
	}
	&-about{
		position:relative;
		z-index:3;
		padding: 0 .5rem .5rem 2.5rem;	
		font-size:1.3rem;
	}
	&-resume{
		position:relative;
		z-index:3;
		padding: 0 5px 5px 5px;	
	}

	&-short-desc{
		color: #fff;
	    text-align: left;
	    @include align-center(vertical);
	    font-size: 2rem;
	    ul{
 		   	list-style:none;
   		 }
	}
	.buttons-mobile{
		position:relative;
		z-index:2;
		margin-top:2rem;
		padding:0 2rem;
			a{
				display:block;
				width:100%;
				margin:1em 0;
				padding:1em;

				&:hover{
					text-decoration:none;
				}
			}
	}
}

@include mq-mobile-only{
	.profile-avatar{

	}
}

@include mq-tablet-only{
.profile{
	
	&-img{
	width:100%;
	}

	&-about{
	padding: 50px 5px;
	}

	&-resume{	
	
	padding: 50px 5px;
	height:100%;
	}
}




}