@import 'mixins';

.skill-list{	
	&-header{
		&-text{
			border-bottom: 2px solid;
			padding: 6px 0px;
			font-size: 140%;
			font-weight:700;
			text-transform:uppercase;
			white-space:nowrap;
		}
	}
	.card-group{
			margin-top:4em;
		}
}

@include mq-small-mobile-devices{
	.skill-list{
		&-header{
		}
		.card-group{
			margin-top:5em;
		}
	}
}
