@import 'mixins';

.contact{
	padding-top:4em;
	padding-bottom:4em;
	&-details{
		
	}

	&-list{
		list-style:none;

		&-item{
			display:flex;
			align-items:center;
			padding:1rem;
			color:rgba(0,0,0,.7);

			i{
				font-size:2rem;
			}

			&-text{
				font-weight:700;
				margin-left:1rem;
			}
		}
	}
}


@include mq-mobile-only{
	.contact{
padding-top:85px;
}

}


  