	<app-preloader></app-preloader>
<app-banner [imageUrl]="'/assets/img/banner-contacts.jpg'"></app-banner>
<div class="contact container">
	<div class="row">
		<div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 mb-5">
<app-contact-form></app-contact-form>
</div>
<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
	<div class="px-2">
		<h3 class="text-nowrap">You can find me on...</h3>
		<div class="contact-details">
			<ul class="contact-list">
				<li class="contact-list-item">
					<i class="fab fa-skype skype-color"></i>
					<span class="contact-list-item-text">pavelpleshko92@mail.ru</span>
				</li>	
				<li class="contact-list-item">
					<i class="fab fa-whatsapp whatsapp-color"></i>
					<span class="contact-list-item-text">+381611759504</span>
				</li>
				<li class="contact-list-item">
					<i class="fab fa-github"></i>
					<span class="contact-list-item-text"><a href="https://github.com/PavelPleshko">Github account</a></span>
				</li>
				<li class="contact-list-item">
					<i class="far fa-envelope"></i>
					<span class="contact-list-item-text">pavelpleshko92@mail.ru</span>
				</li>
			</ul>
		</div>
	</div>
	</div>

</div>

</div>