@import 'mixins';

.pcontainer{
	padding: 5% 5%;
	margin:0 5%;

	&:last-child{
		padding:5% 5% 0 5%;
	}
}


@include mq-small-mobile-devices{


	.pcontainer{
	padding:2em 0;
	margin-top: 3rem;
		&:last-child{
		padding:2em 0 0 0;
	}
	}
}

@include mq-mobile-only{
 .pcontainer{
	padding:1.5em 0;
	&:last-child{
		padding:1.5em 0 0 0;
	}
	}
}
 

