<app-preloader></app-preloader>


<app-photo [abouts]="abouts" [resumeLink]="resumeLink" (contentLoaded)="onContentLoaded()" [animationState]="animationState"></app-photo>
<div class="content-wrapper"> 
	<div class="skill-list pcontainer">
		<app-skill-list [skills]="skills" (contentLoaded)="onContentLoaded()"></app-skill-list>
	</div>
	<hr>
	<div class="pcontainer">
		<app-status [statuses]="statuses"></app-status>
	</div>	
	<div class="pcontainer">
		<app-services [services]="services"></app-services>
	</div>
</div>