@import 'mixins';
@import 'theme';

$overlay-color:get_theme_color(secondary);

.banner{
	width:100%;

	.img-wrapper{
	overflow:hidden;
	position:relative;
	@include bg-image-cover(100%,25rem);
	

	&:before{
		content:'';
		position:absolute;
		top:0;
		left:0;
		@include full-of-parent;
		background:rgba($overlay-color,.4);
	}
}
}
