
  <nav [@toggle]="toggle" [class.scrolledTop]="scrollReachedTop$ | async" class="material-navbar navbar navbar-expand-sm navbar-light d-flex justify-content-between {{toggledMenu ? 'toggledMenu' : ''}}">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNavbar" aria-controls="primaryNavbar" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
         <i class="material-icons">menu</i>
     </button>
     <div class="navbar-brand mx-4 order-first">
      <a [routerLink]="['home']">
        <app-logo></app-logo>
      </a>
    </div>
   <div class="collapse navbar-collapse" #mobile_menu id="primaryNavbar">
    <ul class="navbar-nav align-items-center container-fluid" >


  <li class="nav-item d-block d-sm-none">
    <a [routerLink]="['home']" routerLinkActive="active">
      <button mat-button class="text-uppercase">
        <span class="cdk-visually-hidden"></span>Home
      </button>
    </a>
  </li>  
  <li class="nav-item">
    <a [routerLink]="['projects']" routerLinkActive="active">
      <button mat-button class="text-uppercase">
        <span class="cdk-visually-hidden"></span>Projects
      </button>
    </a>
  </li>

  <li class="nav-item">
    <a [routerLink]="['contacts']" routerLinkActive="active">
      <button mat-button class="text-uppercase">
       <span class="cdk-visually-hidden"></span>Contacts
     </button>
   </a>
 </li>
 <li class="nav-item d-none d-sm-inline-block">
   <button class="pw-btn pw-btn-default btn-rounded ml-3"><a href="{{resumeUrl}}" rel="noopener" target="_blank">Resume</a></button>
 </li>
  <li class="nav-item ml-sm-auto">
  <app-socials [socials]="socials"></app-socials>
 </li>
</ul>

</div>
  

</nav>

