@import 'mixins';

.material-navbar{
	position:fixed;
	min-height:4.5rem;
	box-shadow:1px 5px 15px 2px rgba(0,0,0,.4);
	z-index:99;
	background-color: rgb(255, 255, 255);
	width:100%;
	color:#212121;

	.nav-wrapper{
		position:relative;
	}
	&.scrolledTop{
		background-color:transparent;
		box-shadow:none;
		color:#ffffff;
	}
	
	.navbar-toggler{
	outline:none;
	color:inherit;
		.material-icons{
		font-size:200%;
		}
	}
	

	a{
		color:inherit;

	&.active{
		button{
		background-color:rgba(0,0,0,.2);
		}
    }

	}
	button:not(.navbar-toggler){
		font-size: .8em;
		vertical-align:middle;
		font-weight: 600;
		outline:none;
		margin-left:.2em;
	
		mat-icon{
			margin-right:4px;
			vertical-align:middle;
		}
	}
	.social-list{
		display:flex;
		list-style:none;

	&-item{
		margin:0 12px;
		opacity:0.8;
		cursor:pointer;
		border-radius:3px;
		@include prefix((transition:.2s linear));

	&:hover{
	opacity:1;
	@include prefix((transform:scale(1.1)));
	}
	}
	}


}

.mat-button-wrapper{
		font-size:170%;
		vertical-align:middle;
	}


@include mq-mobile-only{
  .material-navbar{
  	.nav-item{
  		margin-bottom:.5rem;
  	}
	button:not(.navbar-toggler){
		font-size: 1.4rem;
		vertical-align:middle;
		font-weight: 600;
		text-transform:uppercase;
		outline:none;
	
		mat-icon{
		margin-right:6px;
		vertical-align:middle;
		}
	}
  	.social-list{  
	    @include prefix((border-radius: 20px));
	    padding: 5px;
	    border: 2px solid #dedede;

	    div{
	        border-right: 1px solid #dedede;
	         &:last-child{
	       		 border-right:none;
	       	}      
	    }   
  	}
  }
  }

