.status{

	a{
	text-decoration:none;
	}
	&-body{
		position: absolute;
		left: 50%;
		top: 40%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		&-header{
			font-size: 2rem;
			font-weight: 900;
			color: #a09797;
			white-space:nowrap;
		}
		&-info{
			color: #4caf50;
			font-size: 1.5em;
			font-family: superstar;
			letter-spacing:2px;
			i{
			font-size: 3em;
			}
		}
	}
	&-img-wrapper{
	overflow:hidden;
	padding:0 20%;
	}

	&-img{
	position:relative;
	width:100%;


	}

	.message{
	right: 9%;
    position: relative;
	&-body{
			padding: 50px;
			background:#dedede;
			margin:0 5%;
			border-radius:15px;
			position:relative;
			&:before{
			content:'';
			position:absolute;
			border-top:28px solid transparent;
			border-bottom:28px solid transparent;
			border-right:48px solid #dedede;
			left: -28px;
    		top: 25%;

			}
			&-text{
				
				color: #7b6b6b;
				font-size: 120%;
			}
	}

	}
}


@media(max-width: 1024px){

.status{
	&-img-wrapper{
	padding:0 5%;
	}

	.message{
	right:0%;
	}
}



}

@media(max-width: 768px){
	

.status{
	margin:0;
	&-img{
	   
	    width:100%;
	}

	&-body{
	left:50%;
	top:50%;
	width:100%;

	&-info{
	font-size: 1.2rem;
	}
	&-header{
	font-size:1em;
	}
	}
	.message{
	right:0%;
	margin-top:0;

	&-body{
	padding:30px;
	margin-right:0;
	
	&-text{
	font-size:100%;

	}
	}
	}
}
	
}

@media only screen 
  and (max-device-width: 768px){
  	.status{
  	transform: translateY(-4em);
  	text-align:center;


	&-img{
	width:100%;
	}

	&-body{
	left:50%;

	&-info{
	font-size: 1rem;
	}
	
	}
	.message{
	transform: translateY(1em);
	margin-top:0;

	&-body{
	margin:1em;
	&:before{
	top:-20px;
	left:50%;
	transform:translateX(-50%);
    border:none;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #dedede;
    
	}
	}
	}
}
  }
