@import 'mixins';
@import 'theme';
@import 'variables';

.status{
	a{
		text-decoration:none;
	}
	&-body{
		position: absolute;
		left: 50%;
		top: 40%;
		@include prefix((transform: translate(-50%,-50%)));
		text-align: center;
		&-header{
			font-size: 1.5rem;
			font-weight: 400;
			color: #a09797;
			white-space:nowrap;
		}
		&-info{
			color: #4caf50;
			font-weight: 900;
			font-size: 1.5em;
			letter-spacing:1px;
			i{
				font-size: 2.5rem;
			}
		}
	}
	&-img-wrapper{
		overflow:hidden;
		padding:0 15%;
	}

	&-img{
		position:relative;
		width:100%;
	}

	.message{
		right: 9%;
	    position: relative;
	&-body{
		padding: 50px;
		background:#ffffff;
		@include prefix((box-shadow:$mild-dark-shadow))
		margin:0 5%;
		border-radius:15px;
		position:relative;
		&:before{
			content:'';
			left: -28px;
			@include arrow(left,#ffffff,28px);			
    		@include align-center(vertical,absolute);
    		z-index:1;
		}	
		&:after{
			content:'';
			left: -30px;
			@include arrow(left,#dedede,28px);
			@include align-center(vertical,absolute);			
    		z-index:0;
		}
		&-text{	
			color: #7b6b6b;
			font-size: 120%;
		}
	}

	}
}


@media(max-width: 1068px){

.status{
	&-img-wrapper{
	padding:0 5%;
	}
	&-body{
	top:50%;

	&-header{
		font-size:1.5rem;
	}
	}

	.message{
	right:0%;
	&-body{
		margin:0;
		padding:20px;
	}
	}
}



}



@include  mq-mobile-only{
  	.status{
	  	@include prefix((transform: translateY(-4em)));
	  	text-align:center;


	&-img{
		width:100%;
	}

	&-body{
		left:50%;
		top:50%;

	&-info{
		font-size: 1rem;
	}
	
	}
	.message{
		transform: translateY(1em);
		margin-top:0;

	&-body{
		margin:1em;
		&:before{
			top:-45px;
		    @include arrow(top,#ffffff,20px);			
		    @include align-center(horizontal,absolute); 
		}
		&:after{
			top:-47px;
		    @include arrow(top,#dedede,20px);			
		    @include align-center(horizontal,absolute); 
		}
	}
	}
}
  }
