@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'mixins';
@import 'variables';


*{
	padding:0;
	margin:0;
}



body,html{
	  overflow-x: hidden;
	  font-family: "Montserrat",sans-serif;
	  position:relative;
}

@include mq-mobile-only{
	body,html{
		font-size:12px;
	}
}
	


.primary-color{
	color:$primaryColor !important;
}

.secondary-color{
	color: $secondaryColor !important;
}

.skype-color{
	color:$skype;
}
.whatsapp-color{
	color:$whatsapp;
}


.btn-rounded{
	border-radius:20px;
}

.custom-btn-primary{
	&.small{
	padding: 5px 10px 5px 10px !important;
}
&.big{
	padding: 10px 30px 10px 30px !important;
}
	background:transparent !important;
	border:2px solid $primaryColor !important;
	border-radius:3px;
	color:$primaryColor !important;
	font-weight:600;
	letter-spacing: 2px;
	font-size: 18px;
	position:relative;
	overflow:hidden;
	z-index:1;
	&:after{
		content: '';
		position: absolute;
		background:$primaryColor;
		z-index: -1;
		height: 110%;
		width: 0;
		left: 0;
		top: 0;
		transform: skew(-50deg);
		transform-origin: top left;
		transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}
	&:hover{
		cursor:pointer;
		color:#fff !important;
	}
	&:hover:after{
		width:200%;
		height:100%;

	}
	}


.custom-btn-secondary{
&.small{
	padding: 5px 10px 5px 10px !important;
}
&.big{
	padding: 10px 30px 10px 30px !important;
}
	
	background:transparent !important;
	border:2px solid $secondaryColor !important;
	color:$secondaryColor !important;
	font-weight:600;
	letter-spacing: 2px;
	overflow:hidden;
	position:relative;
	z-index:1;
	
	&:after{
		content: '';
		position: absolute;
		background:$secondaryColor;
		z-index: -1;
		height: 110%;
		width: 0;
		left: 0;
		top: 0;
		transform: skew(-50deg);
		transform-origin: top left;
		transition: width 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}
	&:hover{
		cursor:pointer;
		color:#fff !important;
	}
	&:hover:after{
		width:200%;
		height:100%;

	}
	}

.secondary-bg{
	background:$secondaryColor !important;
	color:#fff !important;
}
.primary-bg{
	background:$primaryColor !important;
	color:#fff !important;
}

button a{
	
	color:inherit;
	&:hover{
	color:#fff;
	text-decoration:none;
	}
}


.modal-lg {
    max-width: 70%;
}



.carousel-item.active{
	@include prefix((animation:fadein 1.4s),webkit moz ms o);
}

@include keyframes(fadein){
from { opacity: 0; }
to { opacity: 1; }
}

.b-lazy {
	@include prefix((transition:all 500ms ease-in-out));
    max-width: 100%;
    opacity: 0;
 }
.b-lazy.b-loaded{
    opacity: 1;
}


@include mq-mobile-only{
	.modal-lg {
   		 max-width: 95% !important;   
    }
}
