@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'mixins';
@import 'variables';
@import 'theme';


*{
	padding:0;
	margin:0;
}



body,html{
	  overflow-x: hidden;
	  font-family: "Montserrat",sans-serif;
	  position:relative;
	  color:get_theme_color(textBase);
}

button{
	a{
		color:inherit;
		&:hover{
			color:inherit;
			text-decoration:none;
		}
	}	
}


@include mq-mobile-only{
	body,html{
		font-size:12px;
	}
}
	

.skype-color{
	color:$skype;
}
.whatsapp-color{
	color:$whatsapp;
}


.btn-rounded{
	@include prefix((border-radius:2rem !important));
}

.pw-btn{

	@include prefix((
		border-radius:3px,
		transition:.2s ease-in-out,
		box-shadow:inset 0 0 0 0.125rem get_theme_color(textContrast)
		));
		color:get_theme_color(textContrast);
		border:0;
		font-weight:400;
		font-size:1rem;
		background:transparent;
		box-sizing:border-box;
		padding: .9rem 1.6rem;

		&-default{
			.big{
				padding:10px 30px;
			}
			&:hover{
				box-shadow: inset 0 0 0 0.185rem get_theme_color(textContrast);
				cursor:pointer;
			}
		}

		&-action{
			background-color:get_theme_color(textContrast);
			color:get_theme_color(textBase);
			@include prefix((transition:.2s ease-in-out,box-shadow: 0 4px 12px 0 rgba(9,23,92,.2)));
			&:hover{
				@include prefix((transform:scale(1.05,1.05),box-shadow:0 10px 30px 0 rgba(9,23,92,.6)));
				color:get_theme_color(textBase);
				cursor:pointer;
			}
		}

		&-primary{
			background-color:get_theme_color(primary);
			box-shadow: inset 0 0 0 0.125rem get_theme_color(primary);
			color:get_theme_color(textContrast);
			@include prefix((transition: box-shadow ease-in-out .3s));
			&:hover{
				background-color:transparent;
				box-shadow: inset 0 0 0 0.195rem get_theme_color(primary);
				color:get_theme_color(primary);
				cursor:pointer;
			}
		}
		&-secondary{
			background-color:get_theme_color(secondary);
			box-shadow: inset 0 0 0 0.125rem get_theme_color(secondary);
			color:get_theme_color(textContrast);
			@include prefix((transition: box-shadow ease-in-out .3s));
			&:hover{
				background-color:transparent;
				box-shadow: inset 0 0 0 0.195rem get_theme_color(secondary);
				color:get_theme_color(secondary);
				cursor:pointer;
			}
		}
}

.pw-badge{
		background-color:get_theme_color(accent);
		color:get_theme_color(textContrast);
}

.pw-card{
	padding:1.5rem 2rem;
	@include prefix((
		box-shadow:$mild-dark-shadow,
		border-radius:.5rem
		));
	background-color:#ffffff;
}

.custom-btn-primary{
	&.small{
	padding: 5px 10px 5px 10px !important;
}
&.big{
	padding: 10px 30px 10px 30px !important;
}
	background:transparent !important;
	border:2px solid $primaryColor !important;
	border-radius:3px;
	color:$primaryColor !important;
	font-weight:600;
	letter-spacing: 2px;
	font-size: 18px;
	position:relative;
	overflow:hidden;
	z-index:1;
	&:after{
		content: '';
		position: absolute;
		background:$primaryColor;
		z-index: -1;
		height: 110%;
		width: 0;
		left: 0;
		top: 0;
		transform: skew(-50deg);
		transform-origin: top left;
		transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}
	&:hover{
		cursor:pointer;
		color:#fff !important;
	}
	&:hover:after{
		width:200%;
		height:100%;

	}
	}


.custom-btn-secondary{
&.small{
	padding: 5px 10px 5px 10px !important;
}
&.big{
	padding: 10px 30px 10px 30px !important;
}
	
	background:transparent !important;
	border:2px solid $secondaryColor !important;
	color:$secondaryColor !important;
	font-weight:600;
	letter-spacing: 2px;
	overflow:hidden;
	position:relative;
	z-index:1;
	
	&:after{
		content: '';
		position: absolute;
		background:$secondaryColor;
		z-index: -1;
		height: 110%;
		width: 0;
		left: 0;
		top: 0;
		transform: skew(-50deg);
		transform-origin: top left;
		transition: width 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}
	&:hover{
		cursor:pointer;
		color:#fff !important;
	}
	&:hover:after{
		width:200%;
		height:100%;

	}
	}

.secondary-bg{
	background:$secondaryColor !important;
	color:#fff !important;
}
.primary-bg{
	background:$primaryColor !important;
	color:#fff !important;
}

.light-bg{
	background-color:get_theme_color(appBg);
}

.modal-lg {
    max-width: 70%;
}



.carousel-item.active{
	@include prefix((animation:fadein 1.4s),webkit moz ms o);
}

@include keyframes(fadein){
from { opacity: 0; }
to { opacity: 1; }
}

.b-lazy {
	@include prefix((transition:all 500ms ease-in-out));
    max-width: 100%;
    opacity: 0;
 }
.b-lazy.b-loaded{
    opacity: 1;
}


@include mq-mobile-only{
	.modal-lg {
   		 max-width: 95% !important;   
    }
}
