/deep/ .material-footer{
		background-color:#212121;
		color:#999;
		display:flex;
		align-items:center;
	
		&-copyright{
			position:relative;
			left:5%;
			font-size:60%;
			font-weight:700;
		}

		&-powered{
			position:absolute;
			right:5%;
			font-size:60%;
			a{
				color:#448aff;
				&:hover{
					text-decoration:none;
					color:#82b1ff;
				}
			}
		}
}