@import 'theme';
@import 'mixins';

/deep/ .material-footer{
		background: get_theme_color(secondary);
		@include prefix((background: linear-gradient(60deg, get_theme_color(primary),get_theme_color(secondary))));  

		color:#ffffff;
		display:flex;
		align-items:center;
		
		
		@include mq-desktop{
				&-divider{
					border-top:1px solid get_theme_color(light);
					top:-1px;
					@include align-center(horizontal,absolute);
					width:80%;
			}
		}
		&-copyright{
			position:relative;
			left:5%;
			font-size:60%;
			font-weight:700;
		}

		&-socials{
			right:5%;
			font-size:80%;
			@include align-center(vertical,absolute);

		}
}